//Messy but Working 😀

*{
	margin: 0;
	box-sizing: border-box;
}
html,body{
	height: 100%;
	margin: 0px;
	background-color: #FDFEFE;
}
@media only screen and (max-width:900px){
  
    #mbodyid{
	position: relative;
	height: 100%;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	overflow: auto;
    }
    #part1id{
	width: 250px;
	background-color: #34495E;
	color: white;
    overflow: auto;
    border-style: solid;
    border-left-style: hidden;
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-color: #17202A;	
}
#part2id{
	width: 450px;
   background-color: #F7F9F9;
   overflow: auto;
}

#imgid{
	margin-top: 20px;
	height: 160px;
	width: 160px;
	border-radius: 50%;
	margin-left: 40px;
	border-style: solid;
	border-color: black;
	border-width: medium;
}
#infoid{
	margin-left: 135px;
	margin-top: 30px;
}

}

@media only screen and (max-width:700px){
	

    #mainbodyid{
    	width: 100%;
    	display: flex;
    	flex-direction: column;
    }
    #mbodyid{
		position: unset;
		width: 100%;
	}
	#upperid{
		background-color: background-color: #BDC3C7;
		position: unset;
		display: flex;
		flex-direction: column;
		height: auto;
		margin: 0px;
	}
    #part1id{
    margin: 0px;
    padding: 0px;
	width: 100%;
    height: 800px;
	background-color: #34495E;
	color: white;
    overflow: auto;
    border-style: solid;
    border-left-style: hidden;
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-color: #17202A;	
}
#part2id{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: auto;
   background-color: #F7F9F9;
   overflow: auto;
}

#imgid{
	height: 160px;
	width: 160px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-color: black;
	border-width: medium;
}
#infoid{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
#sec1id{
	margin-top: 50px;
	margin-left: 40px;
}
#sec3id{
	margin-top: 50px;
	margin-left: 40px;
}
#contactid > #add{
   margin-top: 5px;
}
#contactid > #mail{
	margin-top: 5px;
	margin-left: 5px;
}
#contact2id > #phone{
  margin-top: 5px;
}
#contact2id > #web{
  margin-top: 5px;
	margin-left: 5px;
}
#sec4id > ul{
	list-style-type: circle;
	margin-right: 0px;
	margin-left: 0px;
}
#sec4id{
	margin-top: 20px;
	margin-left: 10px;
}

//here
}
.mbody{
	position: relative;
	height: 100%;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	overflow: auto;
}
.mainbody{
   height: 100%;
	display: flex;
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
}
.part1{
	width: 350px;
	background-color: #34495E;
	color: white;
    overflow: auto;
    border-style: solid;
    border-left-style: hidden;
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-color: #17202A;	
}
.part2{
	width: 550px;
   background-color: #F7F9F9;
   overflow: auto;
}
.upper{
	display: flex;
	position: absolute;
	height: 200px;
	width: 100%;
    margin-top: 8%;
	margin-left: 20%;
	background-color: #BDC3C7 ;
	margin-right: auto;
	margin-left: auto;
	border-style: solid;
	border-color: #85929E ;
}

.sec1{
	margin-top: 300px;
	margin-left: 40px;
}
.sec2{
	margin-top: 20px;
	margin-left: 40px;
}
.sec3{
	margin-top: 300px;
	margin-left: 40px;
}
.sec4{
	margin-top: 20px;
	margin-left: 90px;
}
.img{
	margin-top: 15px;
	height: 170px;
	width: 170px;
	border-radius: 50%;
	margin-left: 85px;
	border-style: solid;
	border-color: black;
	border-width: medium;
}
.info{
	margin-left: 180px;
	margin-top: 30px;
}
.info > h1{
	letter-spacing: 2px;
}
.contact{
	display: flex;
	flex-direction: row;
	margin-top: 10px;

}
.contact2{
	display: flex;
	flex-direction: row;
	margin-top: 10px;

}
.contact > #add{
   margin-top: 5px;
}
.contact > #mail{
	margin-top: 5px;
	margin-left: 50px;
}
.contact2 > #phone{
  margin-top: 5px;
}
.contact2 > #web{
  margin-top: 5px;
	margin-left: 15px;
}
.sec4 > ul{
	list-style-type: circle;
	margin-right: 160px;
}
.sec4 li{
	padding: 10px;
	margin: 5px;
	margin-right: 20px;
	background-color: #D5DBDB;

}

.navlist{
	display: flex;
	justify-content: center;
	text-align: center;
}

.navlist button{
   margin: 10px 10%;
   color: white;
   opacity: 0.7;
   border-style: solid;
   border-left-style: hidden;
   border-right-style: hidden;
   border-top-style: hidden;
   border-color:#F2D7D5;
   background-color: transparent;
   border-radius: 20%;
   box-shadow: 0.7px 0.7px 0px #D6DBDF;
   height: 40px;
   width: 90px;
   padding: 0px;
   outline: none;
   font-size: 1.2rem
}
.navlist button:hover{
  opacity: 1;
  cursor: pointer;
  
}
